@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

:root {
  --black: #282a36;
  --hover-black: #6272a4;
  --white: #fff;
  --green: rgb(25, 233, 25);
  --red: rgba(255, 0, 0, 0.932);
  --yellow: #EEBC1D;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%; 
  }
}

footer {
  -webkit-box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.75);
}

